# postgres
DB_HOST=postgres
DB_PORT=5432
SSL_MODE=disable
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=orchestrix

# -------------------    coordinator server  --------------
SERVER_PORT=50051

# heart beat interval is in seconds
HEARTBEAT_INTERVAL=10
MAX_HEARTBEAT_MISSES=1

